  /* 상단 메뉴들 */
  .wrap .header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    transition: .3s;
    background-color: #fff;
  }
  .wrap .header.fixed{
    position: fixed;
    top: 0;
    z-index:2;
    max-width: 1600px;
    transition: .1s;
    padding-right: 40px;
  }
  .wrap .header.fixed.down{
    transform: translateY(0);
  }
  .wrap .header.fixed.up{
    transform: translateY(64px);
  }
  
  .wrap .header .title .sub_title{
    color:#666;
    font-size: 14px;
  }
  
  .wrap .header .title .main_title{
    color : #333;
    font-size: 24px;
    font-weight: 400;
  }

  .main_title{
    margin-bottom: 30px;
  }
  .wrap .header.fixed .title .sub_title{
    opacity: 0;
    font-size: 0;
  }
  /* 필터 및 정렬 버튼 */
  .wrap .header .btn_con{
    display: flex;
    align-items: center;
  }

  .wrap .header .btn_con>div{
    cursor: pointer;
    display: flex;
  }
  .wrap .header .btn_con .filter{
    margin-right: 30px;
  }
  .wrap .header .btn_con span{
    margin-right: 7px;
    font-size: 18px;
    padding-bottom: 5px;
  }
  .wrap .header .btn_con i{
    /* background-color: blue; */
    font-size: 20px;
    padding-top: 5px;
    text-align: center;
    transition: .2s;
  }
  .wrap .header .btn_con i.up{
    transform: rotateX(180deg);
  }
  .wrap .header .btn_con .desc span p{
    display: inline;
  }
  .wrap .header .btn_con .desc .desc_list{
    position: absolute;
    z-index: 1;
    top: 55px;
    right: 5px;
    padding: 0 10px 10px 20px;
    text-align: end;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
  }
  .wrap .header.fixed .btn_con .desc .desc_list{
    right: 45px;
    top: 35px;
  }
  .wrap .header .btn_con .desc .desc_list.show{
    display: block;
  }
  .wrap .header .btn_con .desc .desc_list.hidden{
    display: none;
  }
  
  .product_con{
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: center;
  }

.product_con .product_list{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}